<div class="body">
  <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow p-4" style="max-width: 400px; width: 100%;">
      <h2 class="text-center">Connexion</h2>
      <div *ngIf="error$ | async as error"  class="alert alert-danger alert-dismissible fade show" role="alert">
        {{error}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <!-- Email Field -->
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" id="email" class="form-control" formControlName="email" />
          <div *ngIf="loginForm.controls.email?.invalid && (loginForm.controls.email?.dirty || loginForm.controls.email?.touched)" class="text-danger">
            <small *ngIf="loginForm.controls.email?.errors?.['required']">L'email est requis.</small>
            <small *ngIf="loginForm.controls.email?.errors?.['email']">Veuillez entrer un email valide.</small>
          </div>
        </div>

        <!-- Password Field -->
        <div class="mb-3">
          <label for="password" class="form-label">Mot de passe</label>
          <input type="password" id="password" class="form-control" formControlName="password" />
          <div *ngIf="loginForm.controls.password?.invalid && (loginForm.controls.password?.dirty || loginForm.controls.password?.touched)" class="text-danger">
            <small *ngIf="loginForm.controls.password?.errors?.['required']">Le mot de passe est requis.</small>
            <small *ngIf="loginForm.controls.password?.errors?.['minlength']">Le mot de passe doit contenir au moins 6 caractères.</small>
          </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary w-100" [disabled]="loginForm.invalid">
          Connexion
        </button>
      </form>
    </div>
  </div>
</div>
