<div class="container mt-4">
    <h2>Collectes List</h2>

    <!-- Error Message -->
    <div *ngIf="error$ | async as errorMessage" class="alert alert-danger" role="alert">
        {{ errorMessage }}
    </div>

    <div *ngIf="collectes$ | async as collectes; else loading">
        <div *ngIf="collectes.length > 0; else noCollectes">
            <div class="row g-3">
                <app-collecte-item
                        *ngFor="let collecte of collectes"
                        [collecte]="collecte"
                        (onUpdate)="updateCollecte($event)"
                        (onDelete)="deleteCollecte($event)">
                </app-collecte-item>
            </div>
        </div>

        <!-- No Collectes Message -->
        <ng-template #noCollectes>
            <div class="alert alert-warning text-center" role="alert">
                No collectes found.
            </div>
        </ng-template>
    </div>

    <!-- Loading Spinner -->
    <ng-template #loading>
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </ng-template>
</div>
